<div class="tweet">
    <div class="tweet-dogear"></div>
    <div class="tweet-image">
        <img class="thumbnail-image" src="<%= profile_image_url %>">
    </div>
    <div class="tweet-content">
        <div class="tweet-row">
            <span class="tweet-user-name">
                <span class="tweet-screen-name"><%= from_user%></span>
                <span class="tweet-full-name"><%= from_user_name%></span>
            </span>
        </div>
        <div class="tweet-row tweet-text"><%= text %></div>
        <div class="tweet-row">
            <span class="tweet-timestamp"><%= created_at %></span>
        </div>
    </div>
</div>